nav.main {
  background-color: #0d2339;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
}
nav.main ul {
  padding: 20px 0;
  display: flex;
}
nav.main ul li {
  list-style: none;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav.main ul li:first-child {
  justify-content: flex-start;
}
nav.main ul li img {
  max-width: 100px;
  height: auto;
}
nav.main ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 1s;
  min-height: 20px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 20px;
}
nav.main ul li a:hover {
  color: aliceblue;
  background-color: dodgerblue;
  transform: scale(1.1);
  transform-origin: center;
}
