body {
    background-color: pink;
}

.container {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    text-align: center;
    font-size: 70px;
}

.navbar {
    background-color:  rgb(30, 41, 59);
    background-size: cover;
}