body {
    background-color: pink;
}

.container {
    margin: 0 auto; /* Centralizar elemento block */
    background-color: white;
    border-radius: 2rem;
    max-width: 90%;
}

.container h1 {
    text-align: center;
}

button {
    border-style: solid;
    border-width: 1rem;
    border-radius: 1rem;
    border-color: cadetblue;
    background-color: cadetblue;
    display: block;
    font-weight: bolder;
    color: white;
    flex: 1;
    transition: all 1s;
}

button:hover {
    background-color: rgb(59, 96, 97);
    border-color: rgb(59, 96, 97);
    color: lightgray;
}

.mensagem {
    text-align: center;
    font-size: 2rem;
    color: blueviolet;
}